<%= form_with(model: project, class: "contents", html: {id: "new_project_form"}) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :participant_limit %>
    <%= form.number_field :participant_limit, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if user_signed_in? && current_user.exec? %>
    <div class="my-5">
      <%= form.label :is_winner %>
      <%= form.check_box :is_winner, class: "h-5 w-5" %>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :tech_stack %>
    <div id="tags-local" class="bg-white block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" data-tech-list="<%= @technologies %>"></div>

    <%= form.text_field :tech_stack, class: "hidden", value: (project.present? ? project.tech_stack_names : "") %>
  </div>

  <div class="my-5">
    <%= form.label :is_open %>
    <%= form.check_box :is_open, class: "h-5 w-5" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn inline-block cursor-pointer", id: "submit_project" %>
  </div>
<% end %>
